.benefits {
	padding-top: 60px;
	padding-bottom: 60px;
	
	
	&__list {
		display: block;
		text-align: center;
	  }
	
	  @media screen and(min-width:768px) {
		&__list{
			flex-wrap: wrap;
			display: flex;
			gap: 30px;
		}
	  }
	&__item {
		margin-bottom: 30px;
	  }

	  @media screen and (min-width:768px) {
		&__item{
			width: 354px;
			margin: 0;
		}
	  }

	  @media screen and (min-width:1200px) {
		&__item{
			width: 270px;
			margin: 0;
		}
	  }


	  &__item:last-child{
		margin-bottom: 0;
	  }
	&__item:nth-child(4n) {
		margin-right: 0;
	  }
	&__item h3 {
		font-weight: 700;
		letter-spacing: 0.03em;
		font-size: 14px;
		line-height: calc(16 / 14);
		color: $mainh2;
		margin-bottom: 10px;
		margin-top: 0;
	  }
	&__item p {
		color: $text;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(24 / 14);
		letter-spacing: 0.03em;
	  }
	&__wrapper-icon {
		width: auto;
		height: 120px;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $team;
		border-radius: 4px;


	}
	&__icon {
		width: 70px;
		height: 70px;
	  }	 
  }

  @media screen and (min-width:1200px) {
	.benefits{
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
  