
@media screen and (min-width:0px) and(max-width:1198px){
	img{
		width: 100%;
		display: block;
		height: auto;
	}
}



.hero{
	padding-top: 118px;
	padding-bottom: 118px;
	align-items: center;
	text-align: center;
	margin: 0 auto;



	@media screen and(min-width:1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	background: $herobc;
	background-size: cover;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 600px;

	&__title {
		font-size: 26px;
		line-height: calc(42 / 26);

		@media screen and (min-width:1200px) {
			font-size: 44px;
			line-height: calc(60 / 44);
	
		}


		@media screen and (min-width:768px) {
			padding-left: 180px;
			padding-right: 180px;
		}
		font-weight: 900;
		letter-spacing: 0.06em;
		color: $backgroundcolor;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: $gap;
	}
}	

.hero{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		max-width: 100%;
		display: block;
		height: auto;
		margin: 0 auto;
		background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgheader-mobile.jpg);

	  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  & {
	max-width: 100%;
	display: block;
	height: auto;
    background-image:linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgheader-mobile@2x.jpg);
  }
}
	 
  @media screen and (min-width: 768px) {
	& {
		max-width: 100%;
	display: block;
	height: auto;
	    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgtablhed1x.jpg);
	}
  }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
	& {
		max-width: 100%;
	display: block;
	height: auto;
	    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/imgtablhed2x.jpg);
	}
  }
  
  @media screen and (min-width: 1200px) {
	& {
		max-width: 100%;
	display: block;
	height: auto;
	    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Imgdesk1x.jpg);
	}
  }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
	&{
		max-width: 100%;
	display: block;
	height: auto;
	  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/Imgdesk2x.jpg);
	}
  }
 
}





